@model SalesOrders.Models.Product

@{
    ViewBag.Title = "Item Detail Page";
}

<h2 class="pageTitle">PRODUCT INFORMATION</h2>

    <div id="itemInfo">

        <h2>@Html.DisplayFor(modelItem => Model.ProductName)</h2>

            <div id="longDescription">
                @Html.DisplayFor(modelItem => Model.ProductDescLong)
            </div>

        <div id="itemPic">
            <img src="@Url.Content(Model.ProductImage)" width="200" height="150"
                 alt="@Model.ProductName" title="@Model.ProductName" />

            <p>
                Product Price: $@Html.DisplayFor(modelItem => Model.ProductPrice)
            </p>

                @using (Html.BeginForm("AddToCart", "ShoppingCart"))
                {

                    @Html.HiddenFor(x => x.ProductID)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit"
                           value="Add to Cart" />
                }
        </div>
    </div>